<h3>Routines</h3>

<br>

<%# @routines.sort_by{|e| [e.muscle.name, e.title]}.each do |exercise| %>
<% @routines.each do |routine| %>

<div class="row" style="line-height: 30px">
  <div class="col-xs-3"><%#= link_to "#{exercise.equipment&.name&.titleize} #{exercise.name}", edit_exercise_path(exercise) %></div>
  <div class="col-xs-1"><%= routine.name %></div>
  <div class="col-xs-1"><%#= routine.multiplier %></div>
  <div class="colx-xs-1">

    <%#= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, exercise_path(exercise), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn' %>

    
  </div>
</div>

<% end %>

<br>

<%= link_to 'New', new_routine_url, class: 'btn' %>


